# Verdaccio registry for @soostori/* packages only
# (public packages like @babel/* are fetched from the public registry
# automatically because this uses scoped syntax, not global registry)
@soostori:registry=https://registry.nextmavens.com/
//registry.nextmavens.com/:_authToken=NmVkOTliNWM3YzkzMWNiMDFmZmY5MzE2M2I4MmI0ZDY6MDJjNDBiN2ZiMzkyNmYyYzljMDUyMDliMTJmMTNhM2M5MGNlMGM=
